<body>
    <div class="box">
        <div class="blur">

            <div class="topnav">
                <a href="Home" [routerLink]="['/home']">Назад</a>
            </div>

            <div class="tools">

                <p class="models">Города</p>
                <app-city-edit-card *ngFor="let c of cities" [city]="c"></app-city-edit-card>
                 <div>
                    <p class="add">Введите даннные для добавления:</p>
                    <input type="text" placeholder="Название города" matInput #addName>
                    <button class="add" (click)='addCity(addName.value)'>Добавить</button>
                </div>

                <p class="models">Поликлиники</p>
                <app-polyclinic-edit-card *ngFor="let p of polyclinics" [polyclinic]="p" [selectedFile]="p.image" [cityId]="p.cityId"></app-polyclinic-edit-card>
                <div>
                    <p class="add">Введите данные для добавления:</p>
                    <input type="text" placeholder="Название полилиники" matInput #addPolyclinicName>
                    <input type="text" placeholder="Адрес" matInput #addAddress>
                    <input type="text" placeholder="Контактный номер" matInput #addContactNumber>  
                    <label for="Выберите фото">
                        <input type="file" placeholder="Image" id="upload-photo" (change)="onFileSelected($event)"
                            accept=".jpg,.png" multiple #addImage>
                    </label>
                    <input type="text" placeholder="Город" matInput #addCityName>
                    <button class="polyclinicAdd" (click)="addPolyclinic(addPolyclinicName.value, addAddress.value, addContactNumber.value, addCityName.value)">Добавить</button><p></p>
                    <input type="text" placeholder="Название полилиники" matInput #PolyclinicName>
                    <input type="text" placeholder="ФИО доктора" matInput #addDoctorForPolyclinic>
                    <button (click)="addsDoctorForPolyclinic(PolyclinicName.value, addDoctorForPolyclinic.value)">Добавить</button>
                </div>

                <p class="models">Доктора</p>
                <app-doctor-edit-card *ngFor="let d of doctors" [doctor]="d" [selectedFile]="d.image"></app-doctor-edit-card>
                <div>
                    <p class="add">Введите данные для добавления:</p>
                    <input type="text" placeholder="ФИО доктора" matInput #addDoctorName>
                    <input type="text" placeholder="Стоимость приема" matInput #addDoctorCost>
                    <input type="text" placeholder="Контактный номер" matInput #addDoctorContactNumber>
                    <input type="text" placeholder="Краткое описание" matInput #addShortDescroption>
                    <input type="text" placeholder="Полное описание" matInput #addFullDescription>
                    <label for="Выберите фото">
                        <input type="file" placeholder="Image" id="upload-photo" (change)="onFileSelected($event)"
                            accept=".jpg,.png" multiple #addImage>
                    </label>
                    <button class="polyclinicAdd" (click)="addDoctor(addDoctorName.value, addDoctorCost.value, addDoctorContactNumber.value,addShortDescroption.value, addFullDescription.value)">Добавить</button>
                </div>

                <p class="models">Специализации</p>
                <app-specialization-edit-card *ngFor="let s of specializations" [specialization]="s" [doctorId]="s.doctorId"></app-specialization-edit-card>
                <div>
                    <p class="add">Введите данные для добавления:</p>
                    <input type="text" placeholder="Название специализации" matInput #addSpecializationName>
                    <input type="text" placeholder="ФИО доктора" matInput #addSpecializationDoctorFIO>
                    <input type="text" placeholder="Опыт в специализации" matInput #addExperienceSpecializationName>
                    <button class="add" (click)='addSpecialization(addSpecializationName.value, addSpecializationDoctorFIO.value, addExperienceSpecializationName.value)'>Добавить</button>
                </div>
            </div>
        </div>
    </div>
</body>