<div>

  <div class="topnav">
    <a class="active" [routerLink]="['/home']" *ngIf='isLoggedIn'>PolyclinicSystem</a>
    <a href="Edit" [routerLink]="['/edit']" *ngIf='isAdminPanel'>Edit</a>
    <a href="Home" [routerLink]="['/home']" *ngIf='isLoggedIn' (click)='logout()'>Logout</a>

    <div class="search-container">
      <button type="submit"><i class="city-search"></i></button>
      <input type="text" placeholder="Город">
    </div>

    <router-outlet></router-outlet>

  </div>

  <body>
    <div class="blur">
      <ul class="specialists">
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/119070.png" alt="vv" width="100%">
          <div>
            <h4>Нарколог</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/2785547.png" alt="vv" width="100%">
          <div>
            <h4>Лор</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/2854222.png" alt="vv" width="100%">
          <div>
            <h4>Алерголог</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/3900495.png" alt="vv" width="100%">
          <div>
            <h4>Практолог</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/4311309.png" alt="vv" width="100%">
          <div>
            <h4>Гениколог</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/4751268.png" alt="vv" width="100%">
          <div>
            <h4>Детский врач</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/5793661.png" alt="vv" width="100%">
          <div>
            <h4>Хирург</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/687100.png" alt="vv" width="100%">
          <div>
            <h4>Окулист</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
        <li class="specialists-item">
          <img class="specialists-item-img" src="../../../assets/Images/7684996.png" alt="vv" width="100%">
          <div>
            <h4>Кардиолог</h4>
            <p>Кол-во врачей</p>
          </div>
        </li>
      </ul>
    </div>

  </body>